<h1>Cocktail : <%= @cocktail.name %></h1>

<h2>Details :</h2>
<ul class="col-6 justify-content-center">
  <% @cocktail.doses.each do |dose| %>
    <li class="d-flex justify-content-between"><%= dose.description %> of <%= dose.ingredient.name %></li>
    <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="far fa-trash-alt"></i>
    <% end %>
  <% end %>
</ul>

<%= link_to "List of cocktails", cocktails_path %>
<%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail) %>
